/* !Header Styles */
.nav-button {
    display: flex;
    align-items: center;
  }
  
  .auth-btn {
    margin-right: 2rem;
  }
  
  .enter {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: black;
    text-decoration: none;
    width: 6rem;
    height: 3.3rem;
    position: relative;
    border-radius: 10px;
    margin-right: 1.5rem;
    cursor: pointer;
    margin-top: 0.23rem;
    transition: background-color 0.5s;
  }
  
  header {
    display: flex;
    background-color: rgb(red, green, blue);
    /* background-color: grey; */
    flex-basis: 85%;
    justify-content: space-between;
    /* align-items: center; */
    height: 4rem;
    position: sticky;
    /* top: 100px; */
    width: 100%;
    /* margin-bottom: 50rem; */
  }
  
  .auth-account-icon {
    width: 0.1rem;
  }
  
  /* !Navbar Styles */
  .welcome {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    margin-left: 9rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }
  
  .navbar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background: #fff;
    transition: width 600ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
    /* margin: 0; */
    /* margin: auto; */
    /* margin-bottom: 0; */
  }
  
  /* .nav-item:last-child {
    margin-top: auto;
  } */
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: black;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: width 600ms ease;
  }
  
  .logo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    background: #eee;
    width: 100%;
    letter-spacing: 0.3ch;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: transform 600ms ease;
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* *To-do Adjust height */
  .nav-link:hover {
    font-family: "Poppins", sans-serif;
    filter: grayscale(0%) opacity(1);
    background-color: white;
    font-size: 1.1rem;
    height: 4rem;
    color: blue;
    padding: 0.5rem;
    border-radius: 10px;
    /* border: 1px solid black; */
    transition: width 400ms ease;
    margin: 0;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
  }
  
  .navbar:hover {
    width: 15rem;
  }
  
  .navbar:hover .link-text {
    display: block;
  }
  
  .fa-primary {
    color: #7ea0ff;
  }
  
  .fa-secondary {
    color: #5f49df;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: width 600ms ease;
  }
  
  img {
    margin-left: 5px;
  }
  
  .img_footer {
    margin-left: 11px;
  }
  
  /* For the Authentication Buttons */
  /* .auth-btn {
    padding-top: 0.5px;
  } */
  
  .auth-btn .logout {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: skyblue;
    text-decoration: none;
  }
  
  .auth-btn .logout a {
    text-decoration: none;
    color: black;
  }
  
  .auth-btn .login {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 251, 251);
  }
  
  .auth-btn .login a {
    text-decoration: none;
    color: black;
  }
  
  /* *To style the PHP after logging in */
  .auth-btn-php {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .auth-btn-php a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px 0 0;
  }
  
  .auth-btn-php a:hover {
    cursor: pointer;
    color: skyblue;
  }
  
  .auth-btn .register:hover,
  .login:hover {
    background-color: skyblue;
    cursor: pointer;
  }